@keyframes arrow {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(4px);
	}
}

.like-icon .core {
	fill: transparent;
	transition: fill 0.3s linear;
}

.like-icon .main-body {
	fill: transparent;
	transition: fill 0.3s linear 0.03;
}

.like-icon:hover .core {
	fill: var(--text-color, black);
	transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
	fill: var(--text-color, black);
	transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
	fill: var(--heart-color, red);
	transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
	fill: var(--heart-color, red);
	transition: fill 0.3s linear;
}

.like-icon:active .main-body {
	fill: var(--heart-color, red);
	transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
	fill: var(--heart-color, red);
	transition: fill 0.3s linear 0.05s;
}

.like-icon .contour {
	fill: var(--text-color, #000000);
	transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
	fill: var(--heart-color, red);
	transition: fill 0.3s linear 0.06s;
}

@keyframes scale {
	from {
		scale: 1;
	}

	to {
		scale: 1.5;
	}
}

.like-icon .heart {
	transform-origin: center;
}

.like-icon.is-liked .heart {
	animation: scale 0.3s ease-in 1 0.1s alternate;
}

@keyframes sparks {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.like-icon .sparks {
	opacity: 0;
	fill: var(--heart-color, red);
}

.like-icon.is-liked .sparks {
	animation: sparks 0.3s ease-in 0.3s 1 alternate;
}
