/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

.like-icon:hover .core {
  fill: var(--text-color, black);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--text-color, black);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core,
.like-icon.is-liked .core {
  fill: var(--heart-color, red);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--heart-color, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color, red);
  transition: fill 0.3s linear 0.06s;
}

@keyframes scale {
  0% {
    scale: 1;
  }

  95% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-color, red);
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate;
}