.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	color: var(--text-color, #000);
	font-family: var(--main-font, 'Inter', sans-serif);
	background-color: var(--background-color, #fff);
	background: var(
		--background,
		repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px),
		repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
		linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%)
	);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-variation-settings: 'wght' var(--text-font-weight, 400);
	font-size: 18px;
}

.header {
	display: grid;
	place-items: center;
	place-content: center;
	margin: 100px auto;
	font-variation-settings: 'wght' var(--title-font-weight, 700);
	font-family: var(--accent-font, 'PressStart2P', fantasy);
	inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
	block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
	border: solid var(--text-color, #000) 2px;
	background-color: var(--main-color, #fff);
	text-transform: uppercase;
	padding: clamp(120px, 7.1479rem + 1.5023vw, 8.5rem) 0 25px 0;
}

.header__logo {
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
	line-height: 1;
	margin-bottom: 20px;
}

.header__text {
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
	line-height: 1;
	margin-bottom: 20px;
}

.theme-menu__list {
	display: grid;
	gap: 6px;
	padding-inline-start: 20px;
}

.theme-menu__button {
	border: none;
	background-color: transparent;
	transition: opacity 0.3s ease;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1;
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	animation: arrow 0.5s ease-in-out infinite alternate;
	inset-inline-start: -20px;
	inset-block-start: 0px;
}

.theme-menu__button::after {
	content: '';
	display: block;
	background: currentColor;
	transition: transform 0.3s ease;
	transform: scaleX(0);
	transform-origin: left;
	inline-size: 100%;
	block-size: 2px;
}

.theme-menu__button:focus,
.button:focus,
.card__icon-button:focus {
	outline: none;
}

.theme-menu__button:focus-visible::after,
.button:hover::before {
	transform: scaleX(1);
}

.theme-menu__button:hover,
.theme-menu__button:focus {
	opacity: 0.6;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	cursor: default;
	pointer-events: none;
}

.main {
	display: grid;
	gap: 49px;
	place-content: center;
}

.card {
	display: grid;
	inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
	background-color: var(--main-color, #fff);
	border: solid var(--text-color, #000) 2px;
}

.card__title {
	line-height: 1.21;
	padding: 5px 10px;
	font-variation-settings: 'wght' var(--title-font-weight, 700);
	font-size: 18px;
}

.card__paragraph {
	line-height: 21px;
	font-family: var(--main-font, 'Inter', sans-serif);
}

.card__cover {
	position: relative;
	border-block: solid var(--text-color, #000) 2px;
}

.original-image {
	display: block;
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	object-position: center;
	aspect-ratio: 1 / 1;
}

.card__watermark {
	mix-blend-mode: hard-light;
	position: absolute;
	inset-inline-end: 13px;
	inset-block-start: 24px;
	opacity: 0.5;
	color: var(--text-color, #000);
	font-family: var(--accent-font, 'PressStart2P', fantasy);
	font-weight: 400;
	font-size: 14px;
	text-shadow: 0 0 1px var(--background-color, #fff);
	line-height: 1;
}

.card__content {
	display: grid;
	gap: 25px;
	padding: 25px;
}

.card__buttons {
	display: flex;
	justify-content: end;
	align-items: stretch;
	gap: 5px;
}

.card__icon-button {
	display: flex;
	align-items: end;
	min-height: 38px;
	border: 2px solid transparent;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	z-index: 1;
	transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
	border-color: var(--text-color, #000000);
}

.button {
	position: relative;
	display: flex;
	justify-content: center;
	place-items: center;
	border: 2px solid var(--text-color, #000);
	background: var(--background-color, #fff);
	transition: box-shadow 0.3s ease;
	cursor: pointer;
	font-family: var(--accent-font, 'PressStart2P', fantasy);
	line-height: 90%;
	font-size: 14px;
}

.card__like-button {
	width: 130px;
	min-height: 38px;
	padding: 9px 17px;
}

.button:focus-visible {
	box-shadow: 2px 2px var(--text-color, #000);
}

.button::before {
	content: '';
	position: absolute;
	display: block;
	background: currentColor;
	transition: transform 0.5s ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
	inline-size: 100%;
	block-size: 100%;
}

.button__text {
	z-index: 1;
	mix-blend-mode: difference;
	color: var(--button-text-color, #fff);
}

.footer {
	margin: 52px auto 100px;
	display: grid;
	place-content: center;
}

.footer__button {
	flex-direction: column;
	gap: 8px;
	inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
	min-block-size: 5rem;
}

.dialog {
	inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
	color: var(--text-color, #000);
	padding: 0;
	border: 2px solid var(--text-color, #000);
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}

.modal-window {
	display: grid;
	gap: 30px;
	background-color: var(--background-color, #fff);
	color: var(--text-color, #000);
	line-height: 1.5;
	font-family: var(--accent-font, 'PressStart2P', fantasy);
	text-transform: uppercase;
	padding: 25px 30px;
}

.dialog__warning {
	display: flex;
	gap: 20px;
	font-size: 14px;
	justify-content: center;
	align-items: center;
}

.close-button {
	gap: 10px;
	width: 100%;
	min-height: 38px;
	padding: 9px 17px;
	text-transform: uppercase;
}

@media (width > 375px) {
	.footer__button {
		flex-direction: row;
		min-block-size: 3.125rem;
	}

	.floppy {
			z-index: 1;
	mix-blend-mode: difference;
	color: var(--button-text-color, #fff);
		width: 21px;
		height: 21px;
	}
}

@supports (
	(-webkit-text-stroke: 1px var(--background-color, #ffffff)) or
		(text-stroke: 1px var(--background-color, #ffffff))
) {
	.card__watermark {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--background-color, #ffffff);
		text-stroke: 1px var(--background-color, #ffffff);
	}
}

.hue {
	filter: hue-rotate(-260deg) opacity(0.6) saturate(200%);
}

.contrast {
	filter: contrast(300%);
}

.blur {
	filter: blur(0.4rem);
}

.invert {
	filter: invert(2);
}

.grayscale {
	filter: grayscale(0.8);
}

.saturate {
	filter: saturate(400%);
}

.sepia {
	filter: sepia(80%);
}
